<!DOCTYPE html>
<html class="light">
    <head>
        <title>{% block title %}mdwiki{% endblock title %}</title>

        <meta name="description" content="{% block description %}mdwiki{% endblock description %}">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff" />

        <link rel="icon" href="/favicon.svg">

        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/chrome.css">

        <link rel="stylesheet" href="/FontAwesome/css/font-awesome.css">

        <style type="text/css">
            #file-content {
                width: 100%;
                min-height: 30em;
            }
            #submit-button {
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1.2em;
                color: var(--icons-hover);
                padding: 5px 10px;
            }
        </style>
    </head>
    <body>
        <div class="page-wrapper">
            <div class="page">
                <div id="menu-bar-hover-placeholder"></div>
                <div id="menu-bar" class="menu-bar sticky bordered">
                    <div class="left-buttons">
                        <button id="back-button" class="icon-button" type="button" title="Go back" aria-label="Go back" onClick="window.history.back()">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                    </div>

                    <h1 class="menu-title">{% block header %}mdwiki{% endblock header %}</h1>

                    <div class="right-buttons">
                    </div>
                </div>
                <div id="content" class="content">
                    <main>
                        {% block content %}{% endblock content %}
                    </main>
                </div>
            </div>
        <div>
    </body>
</html>
