{% extends "base" %}
{% block title %}Edit {{ file }} - mdwiki{% endblock header %}
{% block header %}Edit {{ file }}{% endblock header %}
{% block content %}
    <form method="POST">
        <label for="content">
            Content:
        </label>
        <br/>
        <textarea id="content" name="content" rows="20" cols="50">{{ content }}</textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
