<html>
    <head>
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/general.css">
    </head>
    <body>
        <h1>New page</h1>
    </body>
</html>
